.grid-container {
    display: grid;
    grid-template-columns: 1200px auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(0, 0, 0, 10%);
    text-align: left;
    padding: 20px 0 20px 30px;
    font-size: 30px;
}

button {
    font-size: 28px;
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 22px;
}
