#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

#grid-container > div {
    background-color: rgba(0, 0, 0, 10%);
    text-align: center;
    padding: 80px 0;
    font-size: 20px;
}

#categories {
    grid-row-start: 1;
    grid-row-end: 4;
}

#shirtButton input, #shortsButton input, #shoesButton input, #ballButton input, #hoopButton input {
    display:none
}

nav {
    padding-left: 100px;
    padding-top: 30px;
    border-bottom: 3px solid transparent;
}

nav > a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

nav > a:hover {
    border-bottom: 3px solid black;
}