#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

#grid-container > div {
    background-color: rgba(0, 0, 0, 10%);
    text-align: center;
    padding: 80px 0;
    font-size: 20px;
}

#categories {
    grid-row-start: 1;
    grid-row-end: 4;
}

#shirtButton input, #shortsButton input, #shoesButton input{
    display:none
}